body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fef08a;
    font-family: Arial, sans-serif;
    overflow: hidden;
    text-align: center;
}
.container {
    text-align: center;
}
#spinButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#click-me {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #44ef52;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#test {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #44e1ef;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s ease;
}